@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>

<hr />

<h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer doesn't have any active licenses</p>
}
else
{
  <h4>This engineer has the following active licenses:</h4>
  <ul>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <li>License: @join.Machine.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a machine license", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete this Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>